<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.smartdevapp.smartnote">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ThemeSettings"
        android:allowBackup="true"
        android:icon="@drawable/mylogo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/mylogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartNote">
        <activity
            android:name=".otheractivities.NoteNotification"
            android:exported="false" />
        <activity
            android:name=".otheractivities.SecureNotes"
            android:exported="false" />
        <activity
            android:name=".otheractivities.SlipMode"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7881857902310901~5138400169" />

        <activity
            android:name=".otheractivities.AddTaskMode"
            android:exported="false"
            android:theme="@style/Touch.AppCompat.Transparent.NoActionBar" />
        <activity
            android:name=".otheractivities.TaskMode"
            android:exported="false"
            android:theme="@style/Theme.SmartNote.NoActionBar" />
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".Help"
            android:exported="false" />
        <activity
            android:name=".AboutTheApp"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:requestLegacyExternalStorage="true"
            android:theme="@style/Theme.SmartNote.NoActionBar" />
        <activity
            android:name=".ShoppingHolder"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:theme="@style/Theme.SmartNote.NoActionBar" />
        <activity
            android:name=".AddList"
            android:exported="false"
            android:theme="@style/Touch.AppCompat.Transparent.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.SplashScreen.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddNotes"
            android:exported="false"
            android:theme="@style/Theme.SmartNote.NoActionBar" />

        <receiver android:name=".AlarmReceiver" />
    </application>

</manifest>